################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Pokemon
/src/Pokemon.Api/bin/Debug/net9.0
/src/Pokemon.Api/obj
/src/Pokemon.Api/appsettings.Development.json
/src/Pokemon.Application/bin/Debug/net9.0
/src/Pokemon.Application/obj
/src/Pokemon.Domain/bin/Debug/net9.0
/src/Pokemon.Domain/obj
/src/Pokemon.Infrastructure.PokeClient/bin/Debug/net9.0
/src/Pokemon.Infrastructure.PokeClient/obj
/src/.vs/ProjectEvaluation
